.home {
  margin-top: 24px;
}

.home ul {
  padding: 0;
}

.home p {
  text-align: center;
  color: #777;
  font-size: 16px;
  font-weight: bold;
}
.home li {
  list-style: none;
  padding: 0;
}

.home li a {
  font-weight: bold;
  text-decoration: none;
  color: #2c3e50;
  transition: color 0.2s ease-in-out;
}
.home li a:hover {
  color: #172c3f;
  text-decoration: underline;
}
.home h1 {
  text-align: center;
  font-size: 26px;
}

.delete {
  position: absolute;
  right: 8px;
  top: 12px;
  padding: 4px;
  border-radius: 3px;
  background-color: #ecf0f1;
  border: 1px solid #bdc3c7;
  color: #444;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.delete:hover {
  background-color: white;
}

.buttons {
  text-align: center;
  margin-top: 24px;
}
.buttons a, .buttons button {
  box-sizing: border-box;
  display: inline-block;
  padding: 8px;
  text-align: center;
  min-width: 56px;
  border: none;
  margin: 0 8px;
  border-radius: 4px;
  background-color: #ecf0f1;
  border: 1px solid #bdc3c7;
  text-decoration: none;
  font-size: 16px;
  color: #444;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

.buttons button {
  background-color: #ff4757;
  color: white; 
  border: 1px solid #ff2638;
}

.buttons button:hover {
  background-color: #ff2638;
}

.buttons a {
  background-color: #16a085;
  color: white;
  border: 1px solid #1abc9c;
}

.buttons a:hover {
  background-color: #1abc9c;
}